body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-action.cog.vis{
    padding: 0px;
    visibility: hidden ;
    height: 0px;
}

.topnav, .footernav{
    background-image: url(../images/sportsmassagebanner.png) ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.hide {
    visibility: hidden;
}
.edit {
    margin-right: 10px;
}

iframe {
    height: 80vh;
}

.larger {
    font-size: larger;
}

nav .brand-logo {
    font-size: 4.5vw;
}

.card_panel {
    padding: 5px, 5px;
}

.reseter{
    width: 90px;}

.brand-logo {
    margin:  0 0 10px 10px ;
}

.nav-wrapper {
    height: 75px;
}

label.searchlabel {
    top: 30px;
}

label.searchlabel.active {
    top: -5px;
}
