body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-action.cog.vis{
    padding: 0px;
    visibility: hidden ;
    height: 0px;
}

.topnav, .footernav{
    background-image: url(../images/sportsmassagebanner.png) ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.hide {
    visibility: hidden;
}
.edit {
    margin-right: 10px;
}

iframe {
    height: 80vh;
}