body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-action.cog.vis{
    padding: 0px;
    visibility: hidden ;
    height: 0px;
}

.topnav, .footernav{
    background-image: url(../images/sportsmassagebanner.png) ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.hide {
    visibility: hidden;
}
.edit {
    margin-right: 10px;
}

iframe {
    height: 80vh;
}

.larger {
    font-size: larger;
}

nav .brand-logo {
    font-size: 3.7vw;
    margin: 0px;
}

.card_panel {
    padding: 5px, 5px;
}

.reseter{
    width: 90px;}

a.brand-logo {
    margin:  0 0 10px 10px ;
}

.nav-wrapper {
    height: 75px;
}

label.searchlabel {
    top: 30px;
}

label.searchlabel.active {
    top: -5px;
}

.tabletext {
    font-size: 16px;
    font-weight: 500;
}

.headcent {
    text-align: center;
}

.bold {
    font-weight: 800;
    font-size: 20px;
}

.smallbold {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
}

.tnumrep {
    font-size: 22px;
}

.padleft {
    padding-left: 5px;
}

label.editname {
    color: black;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 10px;
}

.antpos {
    background-image: url(../images/antpos.png) ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 275px;
}
body > main > div > div:nth-child(2) > div.col > table {
    line-height: 0;
    font-size: 12px;
}
.pad10 {
    padding: 12px 5px;
    min-width: 150px;
}

body > main > div > div:nth-child(2) > div.col {
    left: 50px;
    /* transform: translateX(50%);
    left: -50%;
    background-color: brown; */
}

.bannersm {
    width: 116%;
    position: relative;
    left: -8%;
    right: 0;
}

.steps {
    margin: 0 0px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px grey;
}
.stepTitle {
    font-size: 40px;
    text-shadow: 2px 2px 2px grey;
    margin-bottom: 15px;
}

.gap {
    margin: 10px 0;
}

a.btn.red.lighten-1 {
    width: 101px;
    margin: 5px 0;
}

div.card-content.white-text {
    padding: 10px 10px 0 10px;
    height: 80px;
    justify-content: center;
    text-align: center;
}

a.btn-large.red.text-shadow{
    width: 190px;
    margin: 5px 0;
}

.eddel {
    width: 70px;
    padding: 0;
    margin: 5px;
}

div.col.s2 {
    margin-left: auto;
    display: flex;
}


@media screen and (max-width: 500px) {
    a.brand-logo {
        font-size: 16px;
    }
    div.col.s2 {
    margin-left: auto;
    display:grid;
    }
}

.therapists {
    font-size: 26px;
}
.profilepic {
    border-radius: 50%;
    margin: auto 0;
    top: 0;
    width: 80%;
    border: 1px solid rgb(0, 0, 139, 0.8);
    box-shadow: 3px 3px 3px darkblue;
}

.cta {
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.imap {
    width: 100%;
}