{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Clients</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_client') }}" class="btn-large light-blue darken-2">
            Add Client <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for client in clients %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ client.client_name }}  -</span>
                <div class="card-action cog">
                    <i class="fas fa-cog"></i>
                    <a href="{{ url_for('edit_client', client_id=client.id) }}" class="btn green accent-4">Edit</a>
                    <a href="{{ url_for('delete_client', client_id=client.id) }}" class="btn red">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}