{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-4 center-align">Add New Client Details</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix blue-grey-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>

                <!-- Full Name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix blue-grey-text text-darken-4"></i>
						<input id="fullname" name="fullname" type="text" minlength="5"
                            maxlength="35" class="validate" onchange="removeSpaces()" required>
						<label for="fullname">Full name</label>
					</div>
                </div>
                <!-- client Date of Birth -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix blue-grey-text text-darken-4"></i>
                        <input id="dob" name="dob" type="date" class="validate" required>
                        <label for="dob">Date of Birth</label>
                    </div>
                </div>
                <!-- client email -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-envelope prefix blue-grey-text text-darken-4"></i>
                        <input id="email" name="email" minlength="3" maxlength="50"
                            type="email" class="validate" required>
                        <label for="email">Email</label>
                   </div>
                </div>
               <!-- client phone number -->
                <div class="row">
                   <div class="input-field col s12">
                       <i class="fas fa-phone prefix blue-grey-text text-darken-4"></i>
                       <input id="phone" name="phone" minlength="5" maxlength="15"
                       pattern="^[0-9]{5,15}$" type="text" class="validate" required>
                       <label for="phone">Phone Number</label>
                  </div>
               </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix blue-grey-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" autocomplete="off" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large blue-grey darken-4 text-shadow">
                        Add Client <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
