{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-4 center-align">Add Treatment</h3>

    <div class="row card-panel grey lighten-5">
        <form id="add_treatment_form" class="col s12" method="POST" action="{{ url_for('add_treatment') }}">
            <!-- client selection -->
			<div class="row">
				<div class="input-field col s12">
                <i class="fas fa-user-edit prefix blue-grey-text text-darken-4"></i>
                <select id="user_id" name="user_id" class="validate" required>
                    <option value="" disabled selected>Choose Client</option>
                    {% for user in users %}
                    {% if user.username == "gadmin" %}
                       
                    {% else %}
                        <option value="{{ user.username }}"> {{ user.fullname }} - ({{ user.username }})</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="user_id">Client</label>
                </div>
			</div>
             <!-- treatment client
             <div class="row hide">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="treatment_client" name="treatment_client" minlength="5" maxlength="50"
                        type="text" class="validate">
                    <label for="treatment_client">Treatment Client Name</label>
                </div>
            </div>
            treatment client -->
            <!-- <div class="row hide">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="tusername" name="tusername" minlength="5" maxlength="50"
                        type="text" class="validate">
                    <label for="tusername">Treatment Client Username</label>
                </div>
            </div> -->
            <!-- treatment type -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-4"></i>
                    <select name="treatment_name" id="treatment_name" type="text" class="validate" required>
                        <option value="shoulder">Shoulder</option>
                        <option value="back" selected>Back</option>
                        <option value="knee" >Knee</option>
                        <option value="ankle">Ankle</option>
                        <option value="hip">Hip</option>
                        <option value="elbow">Elbow</option>
                        <option value="chest">Chest</option>
                        <option value="quad">Quad</option>
                        <option value="hamstring">Hamstring</option>
                        <option value="arm">Arm</option>
                    </select>
                    <label for="treatment_name">General Treatment Area:</label>
                </div>
            </div>
            <!-- treatment subjective history -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-history prefix blue-grey-text text-darken-4"></i>
                    <textarea id="treatment_subjective" name="treatment_subjective" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="treatment_subjective">Subjective History</label>
                </div>
            </div>

            <!-- treatment observation -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-eye prefix blue-grey-text text-darken-4"></i>
                    <textarea id="treatment_observation" name="treatment_observation" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="treatment_observation">Observations</label>
                </div>
            </div>
            
            <!-- Treatment Range of Movement -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-drafting-compass prefix blue-grey-text text-darken-4"></i>
                    <textarea id="treatment_rom" name="treatment_rom" minlength="5"
                    maxlength="200" class="materialize-textarea validate"></textarea>
                    <label for="treatment_rom">Range of Movement</label>
                </div>
            </div>
            
            <!-- treatment treatment_special_tests -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-vial prefix blue-grey-text text-darken-4"></i>
                    <textarea id="treatment_special_tests" name="treatment_special_tests" minlength="5"
                    maxlength="200" class="materialize-textarea validate"></textarea>
                    <label for="treatment_special_tests">Special/Functional Tests</label>
                </div>
            </div>
            
            <!-- treatment Palpation -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hands prefix blue-grey-text text-darken-4"></i>
                    <textarea id="treatment_palpation" name="treatment_palpation" minlength="5"
                        maxlength="200" class="materialize-textarea validate" ></textarea>
                    <label for="treatment_palpation">Palpation</label>
                </div>
            </div>
            <!-- Date of treatment picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="treatment_date" name="treatment_date" type="text" class="datepicker validate" required>
                    <label for="treatment_date">Treatment Date</label>
                </div>
            </div>
            <!-- Follow Up required toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix blue-grey-text text-darken-4"></i>
						<label for="follow_up">
                            <input type="checkbox" id="follow_up" name="follow_up">
                            <span class="lever"></span>
                            Follow Up required
                        </label>
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="addButton" type="submit" class="btn-large blue-grey darken-1 text-shadow">
                        Add Treatment <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}
