{% extends "base.html" %}
{% block content %}

    <h3 class="brown-text text-darken-4 center-align">Edit Treatment</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_treatment', treatment_id=treatment._id) }}">
            <!-- client selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix brown-text text-darken-4"></i>
					<select id="user_id" name="user_id" class="validate" required>
                        <option value="" disabled>Choose Client</option>
                    {% for user in users %}
                        {% if user.user_id == treatment.client_id | int %}
                            <option value="{{ user.id }}" selected>{{ user.fullname }}</option>
                        {% else %}
                            <option value="{{ user.id }}">{{ user.fullname }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
					<label for="client_name">Treatment Client</label>
				</div>
			</div>
            <!-- treatment name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix brown-text text-darken-4"></i>
                    <input id="treatment_name" name="treatment_name" minlength="5" maxlength="50"
                        value="{{ treatment.treatment_name }}" type="text" class="validate" required>
                    <label for="treatment_name">Treatment Name</label>
                </div>
            </div>
            <!-- treatment description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix brown-text text-darken-4"></i>
                    <textarea id="treatment_description" name="treatment_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- treatment.treatment_description -}}
                    </textarea>
                    <label for="treatment_description">Treatment Description</label>
                </div>
            </div>
            <!-- Treatment date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix brown-text text-darken-4"></i>
                    <input id="treatment_date" name="treatment_date" type="text"
                        value="{{ treatment.treatment_date }}" class="datepicker validate" required>
                    <label for="treatment_date">Treatment Date</label>
                </div>
            </div>
            <!-- is follow up toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix brown-text text-darken-4"></i>
						<label for="follow_up">
                            {% if treatment.follow_up == "on" %}
                                <input type="checkbox" id="follow_up" name="follow_up" checked>
                            {% else %}
                                <input type="checkbox" id="follow_up" name="follow_up">
                            {% endif %}
                            <span class="lever"></span>
                            Follow Up Required
                        </label>
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_treatments') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large brown darken-1 text-shadow">
                        Edit Treatment <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
