{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel">
                <p><strong>{{ username }}</strong> logged in. </p>
                <h3 class="center-align light-blue-text text-darken-4">
                    Book your session below
                </h3>
                <iframe src="https://calendly.com/balancedtraining/sports-massage?embed_domain=8080-codegreg1-milestone3gre-nzu3fiowbua.ws-eu71.gitpod.io&amp;embed_type=Inline&amp;hide_gdpr_banner=1&amp;name={{ fullname }}&amp;email={{ email}}" width="100%" height="100%" frameborder="0"></iframe>
             </div>
        </div>
    </div>
   
{% endblock %}
