{% extends "base.html" %}
{% block content %}

<h3 class="text-darken-4 center-align">Treatments</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_treatment') }}" class="btn-large orange darken-2">
            Add Treatment <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for treatment in treatments|sort(attribute="due_date") %}
    <li>
        <div class="collapsible-header white-text orange darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ treatment.treatment_name }}</strong> : {{ treatment.due_date.strftime("%d %B, %Y") }}
            {% if treatment.is_urgent == True %}
                <i class="fas fa-exclamation-circle text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ treatment.client }}</strong>
            <p>{{ treatment.treatment_description }}</p>
            <p>
                <a href="{{ url_for('edit_treatment', treatment_id=treatment.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_treatment', treatment_id=treatment.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}